body, h1, h2, h3, p{
    font-family: arial,sans-serif;
}
#App {
    margin: auto;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: none;
    position: relative;
    padding: 30px 20px 28px;
    background-color: #fff;
    width: 690px;
    display: block;
    overflow-wrap: break-word;
}
img{
    width: 100px;
    height: auto;
    padding-right: 0;
}
.dividerH{
    border-bottom: 1px solid #b5b6b8;
    height: 95%;
    padding-top: 10px;
    margin-bottom:10px ;
}