body, h1, h2, h3, p, label{
    font-family: arial,sans-serif;
}
#App {
    margin: auto;
    border-radius: 8px;
   
    box-shadow: none;
    position: relative;
    padding: 24px 10px 24px;
    background-color: #fff;
    
    display: block;
    overflow-wrap: break-word;
}
@media only screen and (min-width: 600px){
    #App{
        max-width: 690px;
        border: 1px solid grey;
       }
   }
@media only screen and (max-width: 600px){
    #App{
        display:inline-block;
           width:100%;
           border: 0px solid grey;
       }
   }

img{
    width: 100px;
    height: auto;
    padding-right: 0;
}
.dividerH{
    border-bottom: 1px solid #b5b6b8;
    height: 95%;
    padding-top: 10px;
    margin-bottom:10px ;
}