.locationQuery {
    background: #fff;
    display: inline-flex;
    border: 1px solid #898b8f;
    box-shadow: none;
    height: 39px;
    width: 100%;
    border-radius: 8px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.locationQuery input{
    background-color: transparent;
    border: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 22px;

    
}
.search{
    height: 44px;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
    flex: 0 0 auto;
    padding-right: 13px;

}
.divider{
    border-left: 1px solid #b5b6b8;
    height: 95%;
}
.locationQuery svg{
    height: 100%;
    width: auto;
    color: #80868b;
    vertical-align: middle;
    display: inline-flex;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.clear-button :hover{
color:red
}
.search  :hover{
    color:blue
}
.clear-button, .search{
    flex: 1 0 auto;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
   
}
.locationQuery:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 0 1px 1px rgba(5,5,5,.1);

}
.locationQuery> label{
position: absolute;
top: 20px;
left: 0;
padding: 14px 14px 14px;
font-size: 20px;
pointer-events: none;
transition: .5s;
}
.locationQuery input:focus~label,
.locationQuery input:active~label{
top:-14px;  
left: 0;
color: blue;
font-size: 16px;
}